<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Compalints</title>
  </head>
  <body>
    <div class="sidenav">
      <button class="toggle-btn" onclick="toggleNav()">
        CMS
      </button>
      <ul id="navItems">
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/complaint">Complaints</a></li>
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </div>
    <div class="main-content">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin/dashboard">Complaint Management System</a>
  
          <div class="text-align" id="navbarTogglerDemo02">
            <span
              ><a href="#" class="user-badge"><i class="fa-solid fa-user"></i></a
            ></span>
            <span class="user-name">Admin</span>
          </div>
        </div>
      </nav>
      <div class="dashboard">
        <div class="container">
          <div class="form-complaint">
            <div class="row">
              <div class="col-md-12">
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="flex-it">
                      <h4 class="card-title">All Complaints</h4>
                      <select
                            class="form-select form-margin complaint-page-select"
                            aria-label=".form-select-lg example"
                          >
                            <option value="All" selected>All</option>
                            <option value="Success">Success</option>
                            <option value="Progress">Progress</option>
                            <option value="Queue">Queue</option>
                          </select>
                    </div>
                    <div class="">
                      <div class="row">
                      <table class="table-detail">
                        <thead>
                          <tr>
                            <th style="width: 5%">No</th>
                            <th>Complain Title</th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% let i=1; payload.forEach(complaint=>{ %>
                            <tr>
                              <td><%=i++ %></td>
                              <td>
                                <a
                                  href="./details/<%=complaint._id %>"
                                  class="table-complaint-list"
                                  ><%= complaint.title %></a
                                >
                              </td>
                              <td>
                                <span
                                  class="badge <% if(complaint.status == 'Queue'){ %> badge-queue <% }%> <%if(complaint.status == 'Progress'){%>badge-progress<%}else{%>badge-success <%}%>"
                                  ><% if(complaint.status == 'Queue'){ %> Queue <%
                                  }%> <%if(complaint.status ==
                                  'Progress'){%>Progress<%}%> <%if(complaint.status
                                  == 'Success'){%>Success <%}%></span
                                >
                              </td>
                              <td><%= complaint.category %></td>
                              <td><%=complaint.Date.substr(0,15) %></td>
                            </tr>
                            <%}) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function toggleNav() {
        var sidenav = document.querySelector(".sidenav");
        var mainContent = document.querySelector(".main-content");
        var navItems = document.getElementById("navItems");
        var toggleBtn = document.querySelector(".toggle-btn");

        sidenav.classList.toggle("open");
        mainContent.classList.toggle("open");

        if (sidenav.classList.contains("open")) {
          navItems.style.display = "none";
          toggleBtn.innerHTML = "&#9776;";
        } else {
          navItems.style.display = "block";
          toggleBtn.innerHTML = "Complaint Management System";
        }
      }
    </script>
    <script>
      async function fetchdat() {
        let value = await fetch(
          (window.location.href =
            "http://localhost:5000/complaint?status=" + search.value)
        );
        console.log(value);
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
