<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Compalints</title>
  </head>
  <body>
    <% if(userName){%>
    <div class="sidenav">
      <button class="toggle-btn" onclick="toggleNav()">&#9776;</button>
      <ul id="navItems">
        <li>
          <a href="/" data-i18n="dashboard"
            ><i class="fa-solid fa-house"></i> Dashboard</a
          >
        </li>
        <li>
          <a href="/complaint" data-i18n="complaints"
            ><i class="fa-solid fa-list-check"></i> Complaints</a
          >
        </li>
        <li>
          <a href="/logout" data-i18n="logout"
            ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
          >
        </li>
      </ul>
    </div>
    <%}%>
    <div class="main-content">
      <nav class="navbar navbar-expand-lg bg-light swornim prajita">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Complaint Management System</a>

          <div class="text-align nav-right" id="navbarTogglerDemo02">
            <div>
              <span
                ><a href="/profile/<%=userid %>" class="user-badge"
                  ><i class="fa-solid fa-user"></i></a
              ></span>
              <span class="user-name"><%=userName %></span>
            </div>
            <div>
              <select id="languageSelect" onchange="translatePageContent(this)">
                <option value="en">EN</option>
                <option value="ne">NP</option>
              </select>
            </div>
          </div>
        </div>
      </nav>

      <div class="dashboard swornim prajita">
        <div class="container">
          <div class="form-complaint">
            <div class="row">
              <div class="col-md-12">
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="flex-it">
                      <h4 class="card-title" data-i18n="allComplaints">
                        All Complaints
                      </h4>
                      <button
                        class="btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#searches"
                      >
                        <i class="fa fa-magnifying-glass"></i>
                      </button>
                    </div>
                    <div class="">
                      <div class="row">
                        <table>
                          <thead>
                            <tr>
                              <th data-i18n="no">No</th>
                              <th data-i18n="complaintTitle">
                                Complaint Title
                              </th>
                              <th data-i18n="status">Status</th>
                              <th data-i18n="areaOfComplaint">
                                Area of Complaint
                              </th>
                              <th data-i18n="date">Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% let i=1; payload.forEach(complaint=>{ %>
                            <tr>
                              <td><%=i++ %></td>
                              <td>
                                <a
                                  href="/details/<%=complaint._id %>"
                                  class="table-complaint-list"
                                  ><%= complaint.title %></a
                                >
                              </td>
                              <td>
                                <span
                                  class="badge <% if(complaint.status == 'Queue'){ %> badge-queue <% }%> <%if(complaint.status == 'Progress'){%>badge-progress<%}else{%>badge-success <%}%>"
                                  ><% if(complaint.status == 'Queue'){ %> Queue
                                  <% }%> <%if(complaint.status ==
                                  'Progress'){%>Progress<%}%>
                                  <%if(complaint.status == 'Success'){%>Success
                                  <%}%></span
                                >
                              </td>
                              <td><%=complaint.area %></td>
                              <td><%=complaint.Date.substr(0,15) %></td>
                            </tr>
                            <%}) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" id="searches">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-group form-margin">
              <label for="exampleInputPassword1" class="input-title"
                ><strong data-i18n="complaintCategory"
                  >Complaint Category</strong
                ></label
              >
              <select class="form-select form-margin" name="status" id="status">
                <option value="" disabled selected data-i18n="public">
                  Select Status
                </option>
                <option value="Queue" data-i18n="queue">Queue</option>
                <option value="Progress" data-i18n="progress">Progress</option>
                <option value="Complete" data-i18n="complete">Complete</option>
              </select>
            </div>

            <div class="form-group form-margin">
              <label for="exampleInputPassword1" class="input-title"
                ><strong data-i18n="complaintCategory"
                  >Area of Complain</strong
                ></label
              >
              <select class="form-select form-margin" name="area" id="area">
                <option value="" disabled selected>Choose an option</option>
                <% area.forEach(singleArea=>{ %>
                <option
                  value="<%=singleArea.type%>"
                  data-i18n="<%=singleArea.type%>"
                >
                  <%=singleArea.type%>
                </option>
                <%})%>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" onclick="fetchdat()">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      async function fetchdat() {
        let status = document.getElementById("status").value;
        let area = document.getElementById("area").value;
        console.log(status + area);
        let value = await fetch(
          (window.location.href = `/complaint?status=${status}&area=${area}`)
        );
        console.log(value);
      }
      function toggleNav() {
        var sidenav = document.querySelector(".sidenav");
        var mainContent = document.querySelector(".main-content");
        var navItems = document.getElementById("navItems");
        var toggleBtn = document.querySelector(".toggle-btn");

        sidenav.classList.toggle("open");
        mainContent.classList.toggle("open");

        if (sidenav.classList.contains("open")) {
          navItems.style.display = "none";
          toggleBtn.innerHTML = "&#9776;";
        } else {
          navItems.style.display = "block";
          toggleBtn.innerHTML = "CMS";
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script src="../../js/script.js"></script>
  </body>
</html>
