<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="sidenav">
      <button class="toggle-btn" onclick="toggleNav()">&#9776;</button>
      <ul id="navItems">
        <li>
          <a href="/" data-i18n="dashboard"
            ><i class="fa-solid fa-house"></i> Dashboard</a
          >
        </li>
        <li>
          <a href="/complaint" data-i18n="complaints"
            ><i class="fa-solid fa-list-check"></i> Complaints</a
          >
        </li>
        <li>
          <a href="/logout" data-i18n="logout"
            ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
          >
        </li>
      </ul>
    </div>
    <div class="main-content">
      <nav class="navbar navbar-expand-lg bg-light swornim prajita">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Complaint Management System</a>

          <div class="text-align nav-right" id="navbarTogglerDemo02">
            <div>
              <span
                ><a href="/profile/<%=userid %>" class="user-badge"
                  ><i class="fa-solid fa-user"></i></a
              ></span>
              <span class="user-name"><%=userName %></span>
            </div>
            <div>
              <select id="languageSelect" onchange="translatePageContent(this)">
                <option value="en">EN</option>
                <option value="ne">NP</option>
              </select>
            </div>
          </div>
        </div>
      </nav>
      <div class="dashboard swornim prajita">
        <div class="container">
          <% if((realuserid == userid)||(isAdmin)){ %>
          <div class="profile">
            <span data-i18n="profile" class="profile-header">Profile</span>
          </div>
          <div class="form-complaint">
            <div class="row">
              <div class="col-md-12">
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="profile">
                      <table>
                        <tr>
                          <th data-i18n="name">Name</th>
                          <td><%=userdata.fullname %></td>
                        </tr>
                        <tr>
                          <th data-i18n="email">E-mail</th>
                          <td><%=userdata.email %></td>
                        </tr>
                        <tr>
                          <th data-i18n="phoneNumber">Phone Number</th>
                          <td><%=userdata.phonenumber %></td>
                        </tr>
                        <tr>
                          <th data-i18n="address">Address</th>
                          <td><%=userdata.address %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}else{%>
          <div class="profile">
            <span data-i18n="profile" class="profile-header">Profile</span>
          </div>
          <div class="form-complaint">
            <div class="row">
              <div class="col-md-12">
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="profile">
                      <table>
                        <tr>
                          <th data-i18n="name">Name</th>
                          <td><%=userdata.fullname %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}%>
          <div class="profile">
            <span data-i18n="userComplaints" class="profile-header"
              >User's Complaint</span
            >
          </div>
          <div class="form-complaint">
            <div class="row">
              <div class="col-md-12">
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="profile">
                      <table>
                        <% let i=1; allComplaints.forEach(complaint=>{ %>
                        <tr>
                          <td><%=i++ %></td>
                          <td>
                            <a
                              href="/details/<%=complaint._id %>"
                              class="table-complaint-list"
                              ><%= complaint.title %></a
                            >
                          </td>
                          <td>
                            <span
                              class="badge <% if(complaint.status == 'Queue'){ %> badge-queue <% }%> <%if(complaint.status == 'Progress'){%>badge-progress<%}else{%>badge-success <%}%>"
                              ><% if(complaint.status == 'Queue'){ %> Queue <%
                              }%> <%if(complaint.status ==
                              'Progress'){%>Progress<%}%> <%if(complaint.status
                              == 'Success'){%>Success <%}%></span
                            >
                          </td>
                          <td><%=complaint.Date.substr(0,15) %></td>
                        </tr>
                        <%}) %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function toggleNav() {
        var sidenav = document.querySelector(".sidenav");
        var mainContent = document.querySelector(".main-content");
        var navItems = document.getElementById("navItems");
        var toggleBtn = document.querySelector(".toggle-btn");

        sidenav.classList.toggle("open");
        mainContent.classList.toggle("open");

        if (sidenav.classList.contains("open")) {
          navItems.style.display = "none";
          toggleBtn.innerHTML = "&#9776;";
        } else {
          navItems.style.display = "block";
          toggleBtn.innerHTML = "CMS";
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="../../js/script.js"></script>
  </body>
</html>
